################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld/v16/Server/sqlite3
/HelloWorld/HelloWorld.Api/bin/Debug/netcoreapp2.1
/HelloWorld/HelloWorld.Api/obj
/HelloWorld/HelloWorld.Api.Tests/obj
